@model EmploymentAgency.Core.Objects.UserAgency

@{
    ViewBag.Title = "Профиль";
    var action = ((string)ViewContext.RouteData.Values["Action"]).ToLower();
}

<div id="content">
    <div class="user-profile">

        @if (Model.Role.Name == "Администратор")
        {
            @Html.Partial("_UserProfileMenu")
        }

        <div class="row">
            <div class="user-title">
                @if (Model.MiddleName != null)
                {
                    <h1>@Model.LastName @Model.FirstName @Model.MiddleName</h1>
                }
                else
                {
                    <h1>@Model.LastName @Model.FirstName </h1>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control-user-profile", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control-user-profile", @readonly = "true" })
            </div>
        </div>

        @if (Model.RoleWanted.Name != Model.Role.Name)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.RoleWanted, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RoleWanted.Name, new { @class = "form-control-user-profile", @readonly = "true" })
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Role, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Role.Name, new { @class = "form-control-user-profile", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Редактировать" class="form-control-login-btn" onclick="location.href='@Url.Action("UserProfileEdit","Home", new { username = Model.Email })'" />
            </div>
        </div>

        <br />

    </div>
</div>
