@using System.Configuration

@{ var action = ((string)ViewContext.RouteData.Values["Action"]).ToLower();
    }

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css"
          href="@Url.Content("~/Content/themes/simple/style.css?v=@DateTime.Now.Millisecond")" />

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <div id="main">

        <!-- Header -->
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="/">Employment<span class="logo_colour">Agency</span></a></h1>
                    <h2>Работа для каждого</h2>

                    <div class="welcome-text">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <p>Добро пожаловать, @User.Identity.Name @Html.ActionLink("Профиль", "UserProfile", "Home") @Html.ActionLink("Выйти из аккаунта", "Logout", "Home")</p>}
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <div id="menubar">
                <ul id="menu">
                    <li class="@(new[] { "vacancies", "vacancy", "vacanciesforcandidate", "createvacancy", "vacanciessort"}.Contains(action) ? "selected" : "")">@Html.ActionLink("Вакансии", "Vacancies", "Agency")</li>
                    <li class="@(new[] { "candidates", "candidate", "candidatesforvacancy", "createcandidate"}.Contains(action) ? "selected" : "")">@Html.ActionLink("Резюме", "Candidates", "AgencyCandidate")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="@(new[] { "myvacancies" }.Contains(action) ? "selected" : "")">@Html.ActionLink("Мои вакансии", "MyVacancies", "Agency")</li>
                        <li class="@(new[] { "mycandidates" }.Contains(action) ? "selected" : "")">@Html.ActionLink("Мои резюме", "MyCandidates", "AgencyCandidate")</li>
                    }
                </ul>
            </div>

        </div>

        <!-- Site Content -->
        <div id="site_content">
            @RenderBody()
        </div>

        <!-- Footer -->
        <div id="footer">
            Copyright © @DateTime.Now.Year EmploymentAgency All Rights Reserved
        </div>
    </div>
</body>
</html>
